#texto1{
    width: 80%;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    text-align: justify;
}

#h4{
background-color:rgb(238, 178, 238);
}

#p_texto1{
    text-align: center;
    margin-bottom: 2em;
}

#h1{
    background-color: rgb(245, 106, 81);
}

#imagen1{
    width: 20%;
    float: right;
}

#separacion{
    clear: both;
    background-color: rgba(0, 0, 0, 0.815);
   
}

#texto2{
    width: 75%;
    float: right;
    font-size: 200%;
    text-align: justify;
    background-color:rgb(96, 255, 189);
    
}

#p_texto2{
    text-align: center;
    
}

#imagen2{
    width: 25%;
    float: left;
}
